*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#partner 
{
    padding: 40px 0px;
    border-bottom: 10px solid orange;
}

#partner .h2
{
    margin-bottom: 58px;
    color: rgb(0, 0, 53);
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#partner .column-1
{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
}

#partner .column-1 img
{
    margin-left: 27px;
    margin-right: 25px;
}
